@media only screen and (max-width:1440px) {
  .header_top {
    padding: 25px 0;
  }
  .header_top.min {
    padding: 15px;
  }
  .nav_right {
    width: 420px;
    flex: 0 1 420px;
  }
  .zero_form_wrapper {
    padding: 0 15px 20px 15px;
    bottom: 20px;
  }
  .zero_form_title {
    font-size: 28px;
    margin: 20px 0;
  }
  .form__input {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding: 5px 10px 5px 25px;
  }
  .form_button {
    height: 50px;
    font-size: 16px;
}
  /* h1 {
    font-size: calc(22px + (65 - 22) * ((100vw - 320px) / (1440 - 320)));
  } */
  .top__bg {
    height: 45vh;
    position: relative;
  }
  .river_img_left,
  .river_img_right {
    height: 45vh;
  }
  .section_river_text {
    top: 35%;
  }
  .slide_thumb_item {
    font-size: 14px;
    padding: 6px 0;
  }
  .river_item_inner {
    padding: 15px;
  }
  .river_item_left {
    width: 260px;
    flex: 0 0 260px;
  }
  .section_3_wrapper {
    max-width: 1000px;
    padding: 15px 15px 0 15px;
    margin: 15px auto;
  }
  .sec_3_img {
    border-radius: 10px;
    width: 120px;
    flex: 0 1 120px;
  }
  .section_3__bottom {
    padding: 15px 20px;
  }
  .section_reviews .top__bg {
    height: 60vh;
  }
}

@media only screen and (max-width:1366px) {
  .river_slider {
    max-width: 1000px;
  }
  .js-sl-thumbs {
    margin-bottom: 10px;
  }
  .river_item_left {
    width: 200px;
    flex: 0 0 200px;
  }
  .section_3_wrapper {
    max-width: 900px;
    padding: 15px 10px 0 10px;
    margin: 15px auto 0;
  }
  .sec_3_img {
    border-radius: 10px;
    width: 100px;
    flex: 0 1 100px;
  }
  .river_item_text {
    padding: 0 15px;
  }
  .section_3__top {
    padding: 0 15px;
  }
  .section_3__bottom {
    padding: 15px;
  }
  .section_3__bottom p {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.03em;
    margin: 10px 0;
  }
}

@media only screen and (max-width:1280px) {
  .header_top {
    padding: 20px 0;
  }
  .header_top.min {
    padding: 10px 0;
  }
  .zero_form_wrapper {
    max-width: 1000px;
  }
  .zero_form_title {
    font-size: 24px;
  }
  .form-group:nth-child(1) {
    width: 300px;
    flex: 0 1 300px;
  }
  .form-group:nth-child(2) {
    width: 300px;
    flex: 0 1 300px;
  }

}

@media only screen and (max-width:1024px) {
  .header_logo {
    padding-top: 5px;
    max-width: 100px;
  }
  .nav_left {
    width: 300px;
    flex: 0 1 300px;
  }
  .nav_right {
    width: 340px;
    flex: 0 1 340px;
  }
  .nav_right .nav {
    flex: 0 1 170px;
  }
  .social_icons {
    flex: 0 1 130px;
  }
  .nav li a {
    font-size: 14px;
  }
  .zero_form_wrapper {
    max-width: 850px;
  }
  .zero_form_title {
    font-size: 20px;
    margin: 15px 0;
  }
  .zero_form_wrapper form {
    width: 100%;
  }
  .form-group:nth-child(1),
  .form-group:nth-child(2) {
    width: 270px;
    flex: 0 1 270px;
  }
  .section_3_wrapper {
    max-width: 800px;
    padding: 10px 10px 0 10px;
    margin: 10px auto 0;
  }
  .section_3__top {
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
  }
  .section_3__bottom {
    padding: 10px 5px 5px 5px;
  }
  .sec_3_title {
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  .section_3__bottom p {
    font-size: 14px;
    line-height: 130%;
    margin: 5px 0;
  }
  .section_reviews p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .contasts_top {
    flex: 0 1 215px;
  }
  .contacts_block {
    padding: 50px 0 10px 20px;
  }
  .contact_item {
    padding: 0px 0px 0px 50px;
    height: 40px;
  }
  .contact_item {
    background-size: 30px !important;
  }
  .contact_form .form_button,
  .contact_form .form-group:nth-child(1),
  .contact_form .form-group:nth-child(2) {
    width: 280px;
  }
}

@media only screen and (max-width:991px) {
  .section_river {
    height: auto;
    padding-bottom: 30px;
  }
  .section_3 {
    min-height: auto;
    padding-bottom: 30px;
  }
  .section_reviews {
    height: auto;
    padding-bottom: 30px;
  }
  .section_river_text {
    width: 100%;
  }
  .section_river_text img {
    width: 100%;
    display: block;
  }
  .slide_thumb_item {
    font-size: 12px;
    padding: 5px 0;
  }
  .swiper-slide-thumb-active::after {
    height: 2px;
  }
  .river_item_left {
    width: 170px;
    flex: 0 0 170px;
  }
  .sl_river_item p {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.03em;
    margin: 10px 0;
  }
  .river_text_left {
    left: 15%;
    max-width: 100px;
  }
  .river_text_center {
    margin-left: -50px;
    max-width: 150px;
  }
  .river_text_right {
    right: 15%;
    max-width: 80px;
  }
}


@media only screen and (max-width:840px) {
  .swiper-pagination_zero.swiper-pagination-bullets {
    display: none;
  }
  .zero_form_wrapper {
    padding-top: 10px;
    max-width: 350px;
  }
  .form_zero__inner {
    flex-direction: column;
  }
  .form-group:nth-child(1),
  .form-group:nth-child(2),
  .form_button {
    width: 270px;
    flex: 0 1 auto;
    margin: 5px 0;
  }
}

@media only screen and (max-width:768px) {
  .logo {
    max-width: 90px;
  }
  .logo.min {
    max-width: 90px;
  }
  .btn_mobile {
    display: block;
  }
  .header_top {
    padding: 5px 0;
    height: 40px;
  }
  .header_top.min {
    padding: 5px 0;
    height: 40px;
  }
   .header_nav {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 0;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 9;
  }
  .header_nav._mobile {
    opacity: 1;
    visibility: visible;
    height: calc(100vh - 40px);
  }
  .header_nav {
    flex-direction: column;
    justify-content: center;
  }
  .nav_left {
    flex: 0 1 auto;
  }
  .nav_right {
    flex: 0 1 auto;
    flex-direction: column;
  }
  .nav {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity .5s;
  }
  .nav_right .nav {
    flex: 0 1 auto;
  }
  .social_icons {
    display: none;
  }
  .social_icons._mobile {
    display: flex;
  }
  .header_nav._mobile .nav {
    opacity: 1;
  }
  .nav ul {
    display: block;
  }
  .nav li {
    margin: 10px 0;
    text-align: center;
  }
  .nav li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
  }
  .nav li a:hover {
    color: #000;
  }
  .social_icons a {
    width: 28px;
    height: 28px;
  }
  .social_icons.min a {
    width: 28px;
    height: 28px;
  }
  .swiper-pagination_header.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 5px;
  }
  .header_logo-mobile{
    display: block;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
}
