@font-face {
	font-family: 'AvantGardeC';
	src: url('../fonts/ofont.ru_AvantGardeCTT.eot');
	src: local('☺'), url('../fonts/ofont.ru_AvantGardeCTT.woff') format('woff'),
  url('../fonts/ofont.ru_AvantGardeCTT.ttf') format('truetype'),
  url('../fonts/ofont.ru_AvantGardeCTT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {box-sizing: border-box;}
html, body {
	font-size: 16px;
	line-height: 1.4;
	color: #000;
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'AvantGardeC', sans-serif;
	margin: 0;
	padding: 0;
	font-weight: 400;
  position: relative;
  /* overflow-x: hidden; */
}
body.bodyLock {
  overflow: hidden;
  /* padding-right: 17px; */
}
:active, :hover, :focus, :visited {
	outline: 0;
	outline-offset: 0;
}
a {text-decoration: none;outline: none;}
ul {margin: 0;padding: 0;}
ul li {list-style: none;}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
.container {
  width: 100%;
	max-width: 1200px;
	height: 100%;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
.section {
  padding-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
  /* margin-top: 25px; */
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #DAA339;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.header_logo-mobile{
  display: none;
}
.header_top {
  background-color: whitesmoke;
  padding: 35px 0;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 15;
}
.header_top.min {
  padding: 20px;
}
.header_top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(231, 231, 231);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.header_top._mobile::before {
  opacity: 1;
  visibility: visible;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left {
  width: 420px;
  flex: 0 1 420px;
}
.nav {
  width: 100%;
}
.nav_right {
  width: 455px;
  flex: 0 1 455px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_right .nav {
  flex: 0 1 230px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li a {
  color: #000033;
  font-size: 16px;
  letter-spacing: 1px;
}
.nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.social_icons {
  flex: 0 1 160px;
}
.social_icons,
._social_mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._social_mobile {
  display: none;
  flex: 0 0 auto;
}
.social_icons a,
._social_mobile a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.social_icons a img,
._social_mobile a img {
  display: block;
  width: 100%;
}
.btn_mobile {
  outline: none;
  display: none;
  border: none;
  background: transparent;
  width: 28px;
  height: 26px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
.btn_mobile span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #000;
  border-radius: 2px;
  width: 100%;
  height: 2px;
}
.btn_mobile span:before,
.btn_mobile span:after {
  content: '';
  position: absolute;
  left: 0;
  background: #000;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  transition: all 0.2s;
}
.btn_mobile span:before {
  top: -6px;
}
.btn_mobile span:after {
  bottom: -6px;
}
.header_nav._mobile~.btn_mobile span {
  background: transparent;
}
.header_nav._mobile~.btn_mobile span:before {
  top: 1px;
  transform: rotate(45deg);
}
.header_nav._mobile~.btn_mobile span:after {
  bottom: -1px;
  transform: rotate(-45deg);
}
/* ============================================== */
/*                 SECTION ZERO                   */
/*  ============================================= */
.section_zero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.header_logo {
  width: 100%;
  max-width: 150px;
  z-index: 15;
}
.logo {
  display: block;
  width: 100%;
}
.logo img {
  display: block;
  width: 100%;
}
.zero_content {
  height: 100%;
}
.zero_slider {
  height: 85%;
}
.slider_zero_container {
  height: 100%;
}
.zero_item {
  height: 100%;
  position: relative;
}
.zero_item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* pointer-events: none; */
}
.swiper-pagination_zero.swiper-pagination-bullets {
  bottom: 100px;
}
.swiper-pagination_zero.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  vertical-align: middle;
  opacity: 1;
}
.swiper-pagination_zero.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #E8E1C8;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}
.zero_form_wrapper {
  background: #FFFFFF;
  opacity: 0.81;
  box-shadow: 0px 21px 40px 13px rgba(44, 70, 62, 0.08);
  border-radius: 43px;
  width: 100%;
	max-width: 1200px;
	padding: 0 20px 30px 20px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.zero_form_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1;
  margin: 30px 0;
  text-align: center;
  color: #000033;
}

/* ============================================== */
/*               ЧОМУ ЗОЛОТО КАРПАТ               */
/*  ============================================= */

@media (any-hover: hover) {

}



/* ============================================== */
/*            МІСЦЕ ЗУСТРІЧІ РІЧОК                */
/*  ============================================= */
.section_river {
  height: 100vh;
}
.section_river .top__bg {
  background: url(../img/picture/sec2_img.jpg) no-repeat center bottom / cover;
}
.top__bg {
  height: 50vh;
  position: relative;
}
.river_img_left {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 50vh;
}
.river_img_right {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 50vh;
}
.section_river_text {
  position: absolute;
  top: 25%;
}
.river_text_left {
  left: 10%;
}
.river_text_center {
  left: 50%;
  margin-left: -123px;
}
.river_text_right {
  right: 10%;
}
.river_slider {
  width: 100%;
  max-width: 1070px;
  padding-top: 10px;
  margin: 0 auto;
}
.js-sl-thumbs {
  margin-bottom: 15px;
}
.slide_thumb_item {
  font-style: italic;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgba(0, 0, 51, 0.5);
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.swiper-slide-thumb-active {
  color: #000033;
  position: relative;
}
.swiper-slide-thumb-active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background: #000033;
}
.river_item_inner {
  display: flex;
  align-items: center;
  background: #E8E1C8;
  border-radius: 15px;
  padding: 20px;
}
.river_item_left {
  width: 284px;
  flex: 0 0 284px;
  border-radius: 15px;
  overflow: hidden;
}
.river_item_left img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.river_item_text {
  padding: 0 50px;
}
.sl_river_item__title {
  font-weight: 600;
  font-size: 15px;
  color: #000033;
}
.sl_river_item p {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #000033;
  margin: 15px 0;
}
.swiper-button-prev {
  background: url(../img/ico/arr-left.svg) no-repeat center / 35px;
  top: 60%;
  left: -50px;
  right: auto;
  width: 36px;
  height: 36px;
}
.swiper-button-next {
  background: url(../img/ico/arr-right.svg) no-repeat center / 35px;
  top: 60%;
  right: -50px;
  left: auto;
  width: 36px;
  height: 36px;
}
.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after,
.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
  content: none;
}


/* ============================================== */
/*                    SECTION 3                   */
/*  ============================================= */
.section_3 {
  min-height: 100vh;
}
.section_3 .top__bg {
  background: url(../img/picture/sec3_img.jpg) no-repeat center / cover;
}
.section_3_wrapper {
  background: #E8E1C8;
  border-radius: 15px;
  width: 100%;
  max-width: 1070px;
  padding: 20px 20px 0 20px;
  margin: 20px auto;
}
.section_3__top {
  display: flex;
  justify-content: space-between;
}
.sec_3_img {
  border-radius: 15px;
  width: 150px;
  flex: 0 1 150px;
  overflow: hidden;
}
.sec_3_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.section_3__bottom {
  padding: 20px 30px;
}
.sec_3_title {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.04em;
  color: #000033;
}
.section_3__bottom p {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #000033;
  margin: 15px 0;
}
.section_reviews {
  height: 100vh;
}
.section_reviews .top__bg {
  background: url(../img/picture/sec_rev_bg.jpg) no-repeat center bottom / cover;
  height: 65vh;
  filter: grayscale(1);
  transition: filter 1s ease-in;
}

/*.section_reviews .scroll_filter.fade {*/
/*  filter: grayscale(0);*/
/*}*/

.section_reviews p {
  margin-bottom: 0;
}
/* ============================================== */
/*                      CONTACTS                   */
/*  ============================================= */
.section_contacts {
  height: 100vh;
}
.section_contacts_wrapper {
  display: flex;
  height: 100%;
}
.contacts_map {
  flex: 1 1 65%;
  position: relative;
  transition: all .6s;
}
.contacts_map:hover {
  filter: grayscale(1);
}
.contacts_map img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts_block {
  flex: 1 1 400px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 50px 0 30px 50px;
}
.contasts_top {
  flex: 0 1 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.contact_item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 0px 0px 70px;
  height: 50px;
}
.contact_item a {
  color: #000033;
}
.contact_item a:hover {
  text-decoration: underline;
}
.contact_item:nth-child(1) {
  background: url(../img/ico/phone.svg) no-repeat left center / 40px;
}
.contact_item:nth-child(2) {
  background: url(../img/ico/location.svg) no-repeat left center / 40px;
}
.contact_item:nth-child(3) {
  background: url(../img/ico/facebook.svg) no-repeat left center / 40px;
}
.contact_item:nth-child(4) {
  background: url(../img/ico/instagram.svg) no-repeat left center / 40px;
}
.contact_form {
  flex: 0 1 250px;
}
.contact_form .form-group {
  margin: 20px 0;
}
.contact_form .form-group:nth-child(1),
.contact_form .form-group:nth-child(2) {
  width: 320px;
}
.contact_form .form_button {
  width: 320px;
}

/* ! BTN TOP */
.btn__top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 34px;
  height: 34px;
  /* color: #A98370; */
  border: 3px solid #000;
  background: rgba(255, 255, 255, 0.5);
  z-index: 8;
  cursor: pointer;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  transform: translateY(25px);
}
.btn__top img {
  width: 22px;
}
.btn__top:hover {
  background: rgb(228, 227, 227);
  color: #fff;
}
.btn__top--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}





/* ! СТИЛИЗАЦИЯ ФОРМЫ */
.zero_form_wrapper form {
  width: 95%;
  margin: 0 auto;
}
.form_zero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group:nth-child(1) {
  width: 370px;
  flex: 0 1 370px;
}
.form-group:nth-child(2) {
  width: 410px;
  flex: 0 1 410px;
}
.form__input {
  font-size: 18px;
  line-height: 1.1;
  color: #000033;
  border: 1px solid #000033;
  background: #FAFAFA;
  border-radius: 50px;
  width: 100%;
  height: 65px;
  padding: 5px 10px 5px 30px;
}
.form__input::-webkit-input-placeholder {
  color: #000033;
  opacity: 1;
}
.form__input::-moz-placeholder {
  color: #000033;
  opacity: 1;
}
.form__input::-ms-input-placeholder {
  color: #000033;
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  color: #000033;
  opacity: 1;
}
.form__input::placeholder {
  color: #000033;
  opacity: 1;
}
.form_button {
  width: 255px;
  flex: 0 0 255px;
  height: 72px;
  display: block;
  padding: 10px;
  background: #000033;
  border: 1px solid #E8E1C8;
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #E8E1C8;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}
.form_button:hover {
  background: #010163;
}
textarea {
  resize: none;
}




